{%extends 'all_gallery/base.html'%}

{% block content %}
{{ block.super}}

<div class="container">

  <!-- Looping through news   -->
  {% for image in gallery %}

  <div class="row">
    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ image.images_name }} </h2>
      <p class="text-center"><img src="{{image.post}}"> </p>
    </div>

  </div>
  {% empty %}
  <div class="row">
    <h2 class="text-center">more</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}